body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#end {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}