body {
  margin: 0;
  background-color: black;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#end {
  display: none;
}

#levelCountdown {
  display: none;
}

.inline {
  display: inline-block;
}